body {
    background-color: #111214;
}

header {
    background-color: #fafafc;
    padding: 20px 0;
}

#caixa{
    position: relative;
    margin: 0 auto;
    width:940px;
}

#neavegation_header {
    position: absolute;
    top: 10px;
    right: 0;
}

#navegation_header ul {
    padding: 0;
    text-align: right;
}

#navegation_header ul li {
    list-style-type: none;
    display: inline-block; 
    margin: 0 15px 0 15px;    
    padding: 0px;
}

#navegation_header ul li a {
    font-family: sans-serif;
    font-size: 14px;
    color: #111214;
    text-decoration: none;
    text-transform: uppercase;
}

#navegation_header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 10px 22px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#navegation_header a::before #navegation_header a::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
    top: 0;
    transition: all 0.4s ease-in-out;
}

#navegation_header a::before {
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
}

#navegation_header a::after {
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
}

#navegation_header a:hover::before #navegation_header a:hover::after {
    transform: scaleX(1);
}

#navegation_header a:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
}




#div_SOBRE_MIM {
    display: flexbox;
    color: #fafafc;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10% 0px 100px 30%;
}

.text-sobre-mim.h1 {
    color: #fafafc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    text-shadow: 0px 0px 45px rgb(255, 255, 255);
}
